{% extends "base.html" %}
{% load static %}
{% block title %}Cargas | CargasAqui{% endblock %}

{% block content %}
    <div class="text-center my-4">
      <img src="{% static 'img/logo.png' %}" alt="some text" width=120>
    </div>
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">Rota</th>
                <th scope="col">UF</th>
                <th scope="col">Entregas</th>
                <th scope="col">Peso</th>
                {% comment %}
                    <th scope="col">Frete</th>
                    <th scope="col">Adiantamento</th>
                    <th scope="col">Status</th>
                {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for cargo in cargoes %}
                <tr
                    class="
                    {% if cargo.status.code == 'CONTRATADA'%} table-warning {% endif %}
                    {% if cargo.status.code == 'CARREGANDO'%} table-success {% endif %}
                    "
                >
                    <td>{{ cargo.route }}</td>
                    <td>{{ cargo.state.abbreviation }}</td>
                    <td>{{ cargo.numberOfDeliveries }}</td>
                    <td>{{ cargo.weightInKg }}</td>
                    {% comment %}
                        <td>{{ cargo.payment }}</td>
                        <td>{{ cargo.advancePayment }}</td>
                        <td>{{ cargo.status.name }}</td>
                    {% endcomment %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center">Nenhum resultado encontrado</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% load bootstrap5 %}
    {% bootstrap_pagination cargoes url=request.get_full_path justify_content='center' %}

{% endblock %}