<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}CargasAqui{% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>
<body>
    <div class="h-100 d-flex flex-column">
        {% include "navbar.html" with active=active %}
        <div class="flex-grow-1 container pt-2">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>